/* 

Project Name: Mixmaster Morris 
Client: Mixmaster Morris
Author: Adela Pickles | www.adelapickles.com
Developed @ General Assembly in London, UK

*/

body {
	/* set up a background image */
	background-image: url('../images/36.jpg');
	
	
	/* the follow is the code to have the image display as a full page */
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover; /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#container {
	background-color: #5feafd;
	color: black;
	width: 410px;
	padding: 10px;
	border-radius: 5%;
}
h1 {
	font-size: 5em;
	line-height: 1em;
	margin: 0;
	font-family: Rosewood Std;
}
h2 {
	background-color: #2ECCFA;
	padding: 2px;
	border-radius: 10%;
	color: black;
	font-size: 2em;
	font-family: Rosewood Std;
}
a {color: #000000;
}